In [1]:
import pandas as pd

In [2]:
url='https://corona.e.gov.kw/En/Home/DataHandlerCasesByDateList?length=1000'
df=pd.read_json(url)

In [3]:
df = pd.json_normalize(df['data'])

In [4]:
df.head()

   DeadCounter  CaseCounter  RecoveredCounter  CriticalCounter        Date
0            1          584              1486               -6  28/02/2022
1            1          607              1788                0  27/02/2022
2            1          582              1629              -10  26/02/2022
3            1          846              1854                0  25/02/2022
4            1          866              1805               -5  24/02/2022

In [5]:
df.to_csv(r'./kw_covid-19_ds.csv', index=False, header=True)